<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>A Better Bus Travelling System for Macau</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <input v-model="busRoute" @input="routeChanged">
  <button @click="routeChanged" id="#fetchbutton">Get Route Info</button>
  <template v-if="busRouteInfo != null && busRouteData != null">
    <button @click="changeDirection" v-if="busAvailableDirection == '0'">Change Direction</button>
    <details v-for="(station,index) in busRouteInfo" @toggle="toggleIndex(index)">
      <summary>{{ station.staCode }} {{ getName(station.staCode) }}</summary>
      <ul>
        <li v-for="arrivingBus in arrivingBuses[index]">
          {{ arrivingBus.plate }} {{ arrivingBus.speed }}km/h 距離呢個站仲有 {{ arrivingBus.distanceToThis }} 個站 <span v-if="arrivingBus.durationGet">約 {{ arrivingBus.duration }} 分鐘</span><span v-else>ETA 加載中<span>
        </li>
        <template v-for="bus in station.busInfo.filter((bus) => bus.status == '1')">
          <li>
            {{ bus.busPlate }} {{ bus.speed }}km/h <span v-if="index > 0">己進站</span><span v-else>即將發車</span>
          </li>
        </template>
        <template v-for="bus in station.busInfo.filter((bus) => bus.status == '0')">
          <li>
            {{ bus.busPlate }} {{ bus.speed }}km/h 前往下一站中
          </li>
        </template>
          <!-- <li v-if="station.busInfo.filter((bus) => bus.status == '1').length==0 && Object.keys(arrivingBuses[index]).length == 0"> -->
			<!-- 尚未發車 -->
		  <!-- </li> -->
      </ul>
    </details>
  </template>
  <p v-if="error">
    號碼不存在
  </p>
</div>

<script src="https://unpkg.com/vue@next"></script>
<!-- partial -->
  <script  src="./script.js"></script>

</body>
</html>
