body {
    display: flex;
    justify-content: center;
    padding: 10px;
}

traffic green {
    font-color: green;
}

traffic yellow {
    background-color: yellow;
}

traffic red {
    background-color:red;
    font-color: white;
}
