body {
    display: flex;
    justify-content: center;
    padding: 10px;
}

summary {
    padding: 10px;
}

.traffic.green {
    background-color: lightgreen;
}

.traffic.yellow {
    background-color: yellow;
}
.traffic.orange {
    background-color: orange;
}

.traffic.red {
    background-color:red;
    color: white;
}
